 <% if(message.text){ %>
  <!-- warning - info - success - danger -->
  <div class="alert alert-<%=message.type%> alert-dismissible fade show" role="alert">
    <h4 class="alert-heading"><%=message.title%></h4>
      <p><%=message.text%></p>
  </div>
 <% } %>

 <% if(auth){ %>
  <!-- warning - info - success - danger -->
  <div class="alert alert-<%=auth.type%> alert-dismissible fade show" role="alert">
    <h4 class="alert-heading"><%=auth.title%></h4>
      <p><%=auth.text%></p>
  </div>
 <% } %>




