<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../../../public/Vagas/template/statusVagas/style.css">

<body>
    <div class="timeline-container">
        <ul class="timeline">
            <% if (solicitacao.STATUS == 'CO') { %>
                <li>
                    <div class="timeline-box">
                        <div class="timeline-line timeline-line-<%=solicitacao.etapas['conferencia-vaga']%>"></div>
                        <div class="timeline-options timeline-options-<%=solicitacao.etapas['conferencia-vaga']%>">
                            <span>Em Revisão</span>
                        </div>
                    </div>
                </li>
            <% } %>
            <li>
                <div class="timeline-box">
                    <div class="timeline-line timeline-line-<%=solicitacao.etapas['aprovacao-vaga']%>"></div>
                    <div class="timeline-options timeline-options-<%=solicitacao.etapas['aprovacao-vaga']%>">
                        <span>Aguardando Aprovação</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-box" id="processo-seletivo">
                   <div class="timeline-line timeline-line-<%=solicitacao.etapas['processo-seletivo']%>"></div>
                    <div class="timeline-options timeline-options-<%=solicitacao.etapas['processo-seletivo']%>">
                        <span>Processo Seletivo</span>
                    </div>
                </div>
            </li>
          
            <li>
                <div class="timeline-box" id="exame-admissional">
                    <div class="timeline-line timeline-line-<%=solicitacao.etapas['exame-admissional']%>"></div>
                    <div class="timeline-options timeline-options-<%=solicitacao.etapas['exame-admissional']%>">
                        <span>Processo Admissional</span>
                    </div>
                </div>
            </li>
            <% if (solicitacao.STATUS == 'A' || solicitacao.STATUS == 'PA' || solicitacao.STATUS == 'C' || solicitacao.STATUS == 'CO' || solicitacao.STATUS == 'PS') { %>
                <li>
                    <div class="timeline-box" id="contratado">
                        <div class="timeline-line timeline-line-<%=solicitacao.etapas['contratado']%>"></div>
                        <div class="timeline-options timeline-options-<%=solicitacao.etapas['contratado']%>">
                            <span>Contratado</span>
                        </div>
                    </div>
                </li>
            <% } %>

            <% if (solicitacao.STATUS == 'CA') { %>
                <li>
                    <div class="timeline-box">
                        <div class="timeline-line timeline-line-<%=solicitacao.etapas['vaga-cancelada']%>"></div>
                        <div class="timeline-options timeline-options-<%=solicitacao.etapas['vaga-cancelada']%>">
                            <span>Vaga Cancelada</span>
                        </div>
                    </div>
                </li>
            <% } %>

            <% if (solicitacao.STATUS == 'R') { %>
                <li>
                    <div class="timeline-box">
                        <div class="timeline-line timeline-line-<%=solicitacao.etapas['indeferido']%>"></div>
                        <div class="timeline-options timeline-options-<%=solicitacao.etapas['indeferido']%>">
                            <span>Reprovado</span>
                        </div>
                    </div>
                </li>
            <% } %>

            
        </ul>
        <hr/>
    </div>
</body>
</html>