<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head', { title: 'Nova Solicitação' } ) %>
  <link rel="stylesheet" href="../../../public/global.css">
  <link rel="stylesheet" href="../../../public/Vagas/detalhamento.css">
  <script src="../../../public/Vagas/detalhamento.js"></script>

  <body>

    <%- include('../../components/Vagas/menuVagas') %>

      <section class="home">

        <%- include('../../components/navbar') %>

          <main class="text">

            <h2 style="border-bottom: 1px solid #27417B; margin-bottom: 25px; margin-top: 25px;  padding: 13px 0">
              Detalhamento</h2>
            <p> </p>

            <%- include('../../components/Vagas/statusVagas.ejs') %>
            
              <div class="row g-3">
                <div class="col Descricao">
                  <label>Tipo de Admissão:</label>

                  <input id="Solicitante" for="Solicitante" type="text"
                    class="form-control alterar-background inputDetail" placeholder="Solicitante" aria-label="Last name"
                    style="font-size: 13px" value="<%=solicitacao.tipoDeAdmissao%>" readonly>







                </div>
                <div class="col">

                  <label>Unidade de Contratação:</label>


                  <input id="Descricao" for="Descricao" type="text" class="form-control alterar-background inputDetail"
                    value="<%=solicitacao.unidade%>" placeholder="Descricao do Item" readonly>










                </div>

                <div class="col">

                  <label>Gestor Imediato:</label>


                  <input id="Descricao" for="Descricao" type="text" class="form-control alterar-background inputDetail"
                    value="<%=solicitacao.gestorImediato%>" placeholder="Descricao do Item" readonly>


                </div>
              </div>
              <br>

              <div class="row g-3">
                <div class="col">

                  <label>Cargo:</label>


                  <input id="Descricao" for="Descricao" type="text" class="form-control alterar-background inputDetail"
                    value="<%=solicitacao.cargo%>" placeholder="Descricao do Item" readonly>


                </div>
                <div class="col">

                  <label>Salário:</label>


                  <input id="Descricao" for="Descricao" type="text" class="form-control alterar-background inputDetail"
                    value="<%=solicitacao.salario%>" placeholder="Descricao do Item" readonly>


                </div>
                <div class="col Descricao">
                  <label>Usuário Similar Ativo:</label>

                  <input id="Solicitante" for="Solicitante" type="text"
                    class="form-control alterar-background inputDetail" placeholder="Solicitante" aria-label="Last name"
                    style="font-size: 13px" value="<%=solicitacao.tipoDeAdmissao%>" readonly>







                </div>

                <div class="col">

                  <label>Colaborador Substituído:</label>


                  <input id="Descricao" for="Descricao" type="text" class="form-control alterar-background inputDetail"
                    value="<%=solicitacao.gestorImediato%>" placeholder="Não existe." readonly>


                </div>
              </div>
              <br>

              <div class="row g-3">
                <div class="col">

                  <label>Horário de Trabalho:</label>


                  <input id="Descricao" for="Descricao" type="text" class="form-control alterar-background inputDetail"
                    value="<%=solicitacao.horario%>" placeholder="Descricao do Item" readonly>


                </div>
                <div class="col">

                  <label>Departamento:</label>


                  <input id="Descricao" for="Descricao" type="text" class="form-control alterar-background inputDetail"
                    value="<%=solicitacao.departamento%>" placeholder="Descricao do Item" readonly>


                </div>
                <div class="col">

                  <label>Centro de Custo:</label>


                  <input id="Descricao" for="Descricao" type="text" class="form-control alterar-background inputDetail"
                    value="<%=solicitacao.CENTRO_DE_CUSTO%>" placeholder="Descricao do Item" readonly>


                </div>

                <div class="col Descricao">
                  <label>Vaga Para PCD:</label>

                  <input id="Solicitante" for="Solicitante" type="text"
                    class="form-control alterar-background inputDetail" placeholder="Solicitante" aria-label="Last name"
                    style="font-size: 13px" value="<%= solicitacao.PCD === 'S' ? 'Sim' : 'Não' %>" readonly>







                </div>
              </div>
              <br>
              <div class="row g-3">
              
                <div class="col">

                  <label>Acessos Específicos:</label>


                  <input id="Descricao" for="Descricao" type="text" class="form-control alterar-background inputDetail"
                    value="<%=solicitacao.unidade%>" placeholder="Descricao do Item" readonly>

                </div>

                <div class="col">

                  <label>Tipo de Equipamento:</label>


                  <input id="Descricao" for="Descricao" type="text" class="form-control alterar-background inputDetail"
                    value="<%=solicitacao.unidade%>" placeholder="Descricao do Item" readonly>

                </div>

                <div class="col">

                  <label>Cliente</label>


                  <input id="Descricao" for="Descricao" type="text" class="form-control alterar-background inputDetail"
                    value="<%=solicitacao.CLIENTE%>" placeholder="Descricao do Item" readonly>


                </div>

                <div class="col">

                  <label>Deal:</label>


                  <input id="Descricao" for="Descricao" type="text" class="form-control alterar-background inputDetail"
                    value="<%=solicitacao.DEAL%>" placeholder="Descricao do Item" readonly>


                </div>
              </div>
              <br>
              <% if (solicitacao.STATUS=='A' && dadosUser.permissoes.ADMISSAO.APROVAR && momentoAprovacao == 'Y') { %>

                <button class="btn btn-success text-white" onclick="aprovarSolicitacao()">Aprovar</button>
                <button class="btn btn-danger text-white" data-target="#modalDesaprovar"
                  data-toggle="modal">Reprovar</button>
                <% } %>

                  <% if (solicitacao.status=='PS' ) { %>
                    <div class="container">
                      <!-- Button to Open the Modal -->
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Incluir dados do novo Profissional
                      </button>

                      <!-- The Modal -->
                      <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Modal Heading</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <form onsubmit="return validarFormulario(event)">
                              <div class="modal-body">
                                <div style="margin-top: 1.5%">

                                  <div class="row">
                                    <div class="col">
                                      <div class="mb-3">
                                        <label for="exampleInputText" class="form-label">Nome Completo Do Candidato
                                          Aprovado</label>
                                        <input type="text" class="form-control border-secondar shadow-none"
                                          id="nomeCompleto" aria-describedby="textHelp" required
                                          placeholder="nome completo aprovado" name="nomeProfissional">
                                        <label class="campo"></label>
                                      </div>
                                    </div>
                                    <div class="col">
                                      <label for="exampleInputText" class="form-label">Tutor Durante o
                                        Onboarding:</label>
                                      <input type="text" class="form-control border-secondar shadow-none" id="tutor"
                                        aria-describedby="textHelp" required placeholder="tutor" name="tutorOnboarding">
                                      <label class="campo"></label>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col mb-3">
                                      <label for="exampleInputText" class="form-label">Telefone Pessoal:</label>
                                      <input type="tel" class="form-control border-secondar shadow-none" id="telPessoal"
                                        aria-describedby="textHelp" required placeholder="(99) 99999-9999"
                                        onkeyup="mascaraTelefone(event)" maxlength="15" name="Telefone">
                                      <label class="campo"></label>
                                    </div>
                                    <div class="col">
                                      <label for="exampleInputText" class="form-label">E-mail Pessoal:</label>
                                      <input type="text" class="form-control border-secondar shadow-none"
                                        id="emailPessoal" aria-describedby="textHelp" required
                                        placeholder="email pessoal" name="email">
                                      <label class="campo"></label>
                                    </div>
                                    <div class="col">
                                      <label for="exampleInputText" class="form-label">Indicação Premiada:</label>
                                      <input type="text" class="form-control border-secondar shadow-none"
                                        id="indicPremiada" aria-describedby="textHelp" required
                                        placeholder="indicação premiada" name="indicacaoPremiada">
                                      <label class="campo"></label>
                                    </div>
                                  </div>

                                  <div class="row mb-4">
                                    <div class="col">
                                      <label for="exampleInputText" class="form-label">Email Corporativo;</label>
                                      <input type="tel" class="form-control border-secondar shadow-none"
                                        id="emailCorporativo" aria-describedby="textHelp" required
                                        placeholder="email corporativo" name="emailCorporativo">
                                      <label class="campo"></label>
                                    </div>
                                    <div class="col">
                                      <label for="exampleInputText" class="form-label">PCD:</label>
                                      <br>
                                      <div class="form-check form-check-inline mt-2">
                                        <input class="form-check-input shadow-none" type="radio" name="pcd" id="radio09"
                                          value="S" required>
                                        <label class="form-check-label">Sim</label>
                                      </div>
                                      <div class="form-check form-check-inline" style="margin-left: 5%;">
                                        <input class="form-check-input shadow-none" type="radio" name="pcd" id="radio10"
                                          value="N" required>
                                        <label class="form-check-label">Não</label>
                                      </div>
                                      <label class="campo"></label>
                                    </div>
                                    <div class="col">
                                      <label for="exampleInputText" class="form-label">Data de Inicio:</label>
                                      <input type="date" class="form-control border-secondar shadow-none"
                                        id="dateInicio" aria-describedby="textHelp" required
                                        placeholder="indicação premiada" name="dataInicio">
                                      <label class="campo"></label>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col">
                                      <label for="exampleInputText" class="form-label">Modalidade de Trabalho:</label>
                                      <select class="form-control border-secondar shadow-none"
                                        aria-label="Default select example" id="mdtrabalho" required name="modalidade">
                                        <option value="">Selecione....</option>
                                        <option value="Presencial">Presencial</option>
                                        <option value="Híbrido">Híbrido</option>
                                        <option value="Remoto">Remoto</option>
                                      </select>
                                      <label class="campo"></label>
                                    </div>
                                    <div class="col">
                                      <label for="exampleInputText" class="form-label">Escala Sobreviso:</label>
                                      <br>
                                      <div class="form-check form-check-inline mt-2">
                                        <input class="form-check-input shadow-none" type="radio" name="escala"
                                          id="radio11" value="S" required>
                                        <label class="form-check-label">Sim</label>
                                      </div>
                                      <div class="form-check form-check-inline" style="margin-left: 5%;">
                                        <input class="form-check-input shadow-none" type="radio" name="escala"
                                          id="radio12" value="N" required>
                                        <label class="form-check-label">Não</label>
                                      </div>
                                      <label class="campo"></label>
                                    </div>
                                    <div class="col">
                                      <label for="exampleInputText" class="form-label">Treinamento:</label>
                                      <select class="form-control border-secondar shadow-none"
                                        aria-label="Default select example" id="treinamento" required
                                        name="treinamentos">
                                        <option value="">Selecione....</option>
                                        <option value="Presencial">Presencial</option>
                                        <option value="Online">Online</option>
                                      </select>
                                      <label class="campo"></label>
                                    </div>
                                  </div>

                                  <h5 style="border-bottom:1px solid #120947; margin-top: 1%;">Observações Gerais</h5>
                                  <div style="margin-top: 0.5%">
                                    <div class="row">
                                      <div class="col">
                                        <div class="mb-3">
                                          <label for="exampleInputTextArea" class="form-label" style="border-bottom:1px solid #120947;
                                                          font-size: 15px;">Negociação Diferenciada que for alinhada
                                            com o profissional</label>
                                          <input type="text" class="form-control" required name="observacoes">
                                        </div>
                                      </div>
                                    </div>
                                  </div>


                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-success">Salvar</button>

                                </div>


                            </form>

                          </div>
                        </div>
                      </div>

                    </div>
                    <% } %>

                      <% if (solicitacao.status=='E' ) { %>
                        <div style="margin-top: 1.5%">

                          <div class="row">
                            <div class="col">
                              <div class="mb-3">
                                <label for="exampleInputText" class="form-label">Nome Completo Do Candidato
                                  Aprovado</label>
                                <input type="text" class="form-control border-secondar shadow-none" id="nomeCompleto"
                                  aria-describedby="textHelp" required readonly placeholder="nome completo aprovado"
                                  name="nomeProfissional" value="">
                                <label class="campo"></label>
                              </div>
                            </div>
                            <div class="col">
                              <label for="exampleInputText" class="form-label">Tutor Durante o Onboarding:</label>
                              <input type="text" class="form-control border-secondar shadow-none" id="tutor"
                                aria-describedby="textHelp" readonly required placeholder="tutor"
                                name="tutorOnboarding">
                              <label class="campo"></label>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col mb-3">
                              <label for="exampleInputText" class="form-label">Telefone Pessoal:</label>
                              <input type="tel" class="form-control border-secondar shadow-none" id="telPessoal"
                                aria-describedby="textHelp" readonly required placeholder="(99) 99999-9999"
                                onkeyup="mascaraTelefone(event)" maxlength="15" name="Telefone">
                              <label class="campo"></label>
                            </div>
                            <div class="col">
                              <label for="exampleInputText" class="form-label">E-mail Pessoal:</label>
                              <input type="text" class="form-control border-secondar shadow-none" id="emailPessoal"
                                aria-describedby="textHelp" required readonly placeholder="email pessoal" name="email">
                              <label class="campo"></label>
                            </div>
                            <div class="col">
                              <label for="exampleInputText" class="form-label">Indicação Premiada:</label>
                              <input type="text" class="form-control border-secondar shadow-none" id="indicPremiada"
                                aria-describedby="textHelp" required readonly placeholder="indicação premiada"
                                name="indicacaoPremiada">
                              <label class="campo"></label>
                            </div>
                          </div>

                          <div class="row mb-4">
                            <div class="col">
                              <label for="exampleInputText" class="form-label">Email Corporativo;</label>
                              <input type="tel" class="form-control border-secondar shadow-none" id="emailCorporativo"
                                aria-describedby="textHelp" required readonly placeholder="email corporativo"
                                name="emailCorporativo">
                              <label class="campo"></label>
                            </div>
                            <div class="col">
                              <label for="exampleInputText" class="form-label">PCD:</label>
                              <br>
                              <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input shadow-none" readonly type="radio" name="pcd"
                                  id="radio09" value="S" required>
                                <label class="form-check-label">Sim</label>
                              </div>
                              <div class="form-check form-check-inline" style="margin-left: 5%;">
                                <input class="form-check-input shadow-none" type="radio" readonly name="pcd"
                                  id="radio10" value="N" required>
                                <label class="form-check-label">Não</label>
                              </div>
                              <label class="campo"></label>
                            </div>
                            <div class="col">
                              <label for="exampleInputText" class="form-label">Data de Inicio:</label>
                              <input type="date" class="form-control border-secondar shadow-none" id="dateInicio"
                                aria-describedby="textHelp" required readonly placeholder="indicação premiada"
                                name="dataInicio">
                              <label class="campo"></label>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col">
                              <label for="exampleInputText" class="form-label">Modalidade de Trabalho:</label>
                              <select class="form-control border-secondar shadow-none"
                                aria-label="Default select example" id="mdtrabalho" required name="modalidade" readonly>
                                <option value="">Selecione....</option>
                                <option value="Presencial">Presencial</option>
                                <option value="Híbrido">Híbrido</option>
                                <option value="Remoto">Remoto</option>
                              </select>
                              <label class="campo"></label>
                            </div>
                            <div class="col">
                              <label for="exampleInputText" class="form-label">Escala Sobreviso:</label>
                              <br>
                              <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input shadow-none" readonly type="radio" name="escala"
                                  id="radio11" value="S" required>
                                <label class="form-check-label">Sim</label>
                              </div>
                              <div class="form-check form-check-inline" style="margin-left: 5%;">
                                <input class="form-check-input shadow-none" readonly type="radio" name="escala"
                                  id="radio12" value="N" required>
                                <label class="form-check-label">Não</label>
                              </div>
                              <label class="campo"></label>
                            </div>
                            <div class="col">
                              <label for="exampleInputText" class="form-label">Treinamento:</label>
                              <select class="form-control border-secondar shadow-none" readonly
                                aria-label="Default select example" id="treinamento" required name="treinamentos">
                                <option value="">Selecione....</option>
                                <option value="Presencial">Presencial</option>
                                <option value="Online">Online</option>
                              </select>
                              <label class="campo"></label>
                            </div>
                          </div>

                          <h5 style="border-bottom:1px solid #120947; margin-top: 1%;">Observações Gerais</h5>
                          <div style="margin-top: 0.5%">
                            <div class="row">
                              <div class="col">
                                <div class="mb-3">
                                  <label for="exampleInputTextArea" class="form-label" style="border-bottom:1px solid #120947;
                                              font-size: 15px;">Negociação Diferenciada que for alinhada com o
                                    profissional</label>
                                  <input type="text" class="form-control" required readonly name="observacoes">
                                </div>
                              </div>
                            </div>
                          </div>


                        </div>
                        <button type="button" class="btn btn-primary">
                          Finalizar Processo
                        </button>
                        <% } %>
                          <!-- inputs para pegar valores -->
                          <input type="text" id="codigoSolicitacao" value="<%=solicitacao.Codigo%>" hidden>
                          <!-- ------------------------- -->

          </main>
      </section>

  </body>

</html>